<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Counter</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
  <div>
      <h1>Counter</h1>
      <p>{{session['count']}} times</p>

      <form action="/increment" method='post'>
        <input type="submit" value="Increment"/>
      </form>

      <form action ="/destroy_session" method='post'>
      <input type="submit" value="Reset"/>
    </form>
  </div>
</body>
</html>